.Player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .time-control {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;

    input {
      width: 100%;
      padding: 1rem 2rem;
    }

    p {
      padding: 1rem;
    }
  }
  .play-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    svg {
      cursor: pointer;
    }
  }
}
