.song {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 30%;
    border-radius: 50%;
  }
  h2 {
    padding: 3rem 1rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.songImgAnim {
  animation-duration: 40s;
  animation-name: songImgAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes songImgAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
